# Local Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform directories
.terraform/

# Override files (optional)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Generated plan files
*.tfplan

# Editor directories and files
.vscode/
.idea/
.DS_Store


#python
.myenv/

./structure/var.tf
.gitub/workflows/docker-deploy.yml